source/SharpTM/assets/Schemas/xtm1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
	Autogenerated schema for XTM 1.0 using http://www.hitsw.com/xml_utilites/
	DTD-Source: http://www.topicmaps.org/xtm/1.0/xtm1.dtd
	Author: Marcel Hoyer
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:element name="association">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="instanceOf" minOccurs="0" />
        <xs:element ref="scope" minOccurs="0" />
        <xs:element ref="member" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="baseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="scope" minOccurs="0" />
        <xs:element ref="baseNameString" />
        <xs:element ref="variant" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="baseNameString">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="instanceOf">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="topicRef" />
        <xs:element ref="subjectIndicatorRef" />
      </xs:choice>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="member">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="roleSpec" minOccurs="0" />
        <xs:choice>
          <xs:element ref="topicRef" />
          <xs:element ref="resourceRef" />
          <xs:element ref="subjectIndicatorRef" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="mergeMap">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="topicRef" />
        <xs:element ref="resourceRef" />
        <xs:element ref="subjectIndicatorRef" />
      </xs:choice>
      <xs:attribute name="xlink:href" type="xs:string" use="required" />
      <xs:attribute name="xlink:type" type="xs:NMTOKEN" use="required" fixed="simple" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="occurrence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="instanceOf" minOccurs="0" />
        <xs:element ref="scope" minOccurs="0" />
        <xs:choice>
          <xs:element ref="resourceRef" />
          <xs:element ref="resourceData" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="parameters">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="topicRef" />
        <xs:element ref="subjectIndicatorRef" />
      </xs:choice>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="resourceData">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="resourceRef">
    <xs:complexType>
      <xs:attribute name="xlink:href" type="xs:string" use="required" />
      <xs:attribute name="xlink:type" type="xs:NMTOKEN" use="required" fixed="simple" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="roleSpec">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="topicRef" />
        <xs:element ref="subjectIndicatorRef" />
      </xs:choice>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="scope">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="topicRef" />
        <xs:element ref="resourceRef" />
        <xs:element ref="subjectIndicatorRef" />
      </xs:choice>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="subjectIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="resourceRef" minOccurs="0" />
        <xs:choice>
          <xs:element ref="topicRef" />
          <xs:element ref="subjectIndicatorRef" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="subjectIndicatorRef">
    <xs:complexType>
      <xs:attribute name="xlink:href" type="xs:string" use="required" />
      <xs:attribute name="xlink:type" type="xs:NMTOKEN" use="required" fixed="simple" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="topic">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="instanceOf" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="subjectIdentity" minOccurs="0" />
        <xs:choice>
          <xs:element ref="baseName" />
          <xs:element ref="occurrence" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>
  </xs:element>

  <xs:element name="topicMap">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="topic" />
        <xs:element ref="association" />
        <xs:element ref="mergeMap" />
      </xs:choice>
      <xs:attribute name="xmlns:xlink" type="xs:string" use="required" fixed="http://www.w3.org/1999/xlink" />
      <xs:attribute name="xmlns" type="xs:string" use="required" fixed="http://www.topicmaps.org/xtm/1.0/" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="topicRef">
    <xs:complexType>
      <xs:attribute name="xlink:href" type="xs:string" use="required" />
      <xs:attribute name="xlink:type" type="xs:NMTOKEN" use="required" fixed="simple" />
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="variant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameters" />
        <xs:element ref="variantName" minOccurs="0" />
        <xs:element ref="variant" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="variantName">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="resourceRef" />
        <xs:element ref="resourceData" />
      </xs:choice>
      <xs:attribute name="id" type="xs:ID" use="optional" />
    </xs:complexType>
  </xs:element>

</xs:schema>
